.content-manage {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  .filter-box {
    margin: 16px;
    background: #fff;
    padding: 20px 40px 20px 0;

    .btn-group {
      display: flex;
      justify-content: flex-end;
    }
  }

  .table-box {
    /* flex: 1;
       background: #ffffff; */
    background: #fff;
    padding: 16px 20px;

    .table-btn {
      margin-bottom: 12px;
      display: flex;
    }

    .pagination-wrap {
      margin-top: 10px;

      .dpl-pagination-wrapper {
        float: none;
      }
    }

    .total-box {
      font-size: 14px;
      line-height: 30px;
      margin-left: 50px;
      font-weight: bold;
    }
  }

  .card-status {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 5px;
    }
  }
}

.new-content {
  height: 100%;
  padding: 20px;

  .new-content-box {
    background: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;

    .content {
      flex: 1;
      overflow-y: scroll;
      padding: 28px 28px 40px;

      .title {
        font-size: 20px;
        color: #333;
        margin-bottom: 28px;
      }

      .content-form {
        width: 80%;
      }

      .add-btn {
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px dashed #ccc;
        border-radius: 3px;
        width: 67%;
        margin-left: 13%;
        cursor: pointer;
        color: #ccc;
        font-size: 14px;

        p {
          margin-left: 4px;
        }
      }

      .upload-tips {
        font-size: 12px;
        color: #999;
        width: 80%;
      }

      .ueditor-wrap {
        .save-btn {
          display: flex;
          justify-content: flex-end;
          margin-top: 10px;
        }
      }

      .static-wrap {
        .html {
          border: 1px solid #d1d3d8;
          border-radius: 3px;

          .__zhence-cut-line,
          .__shiwu-cut-line {
            margin: 0;
            display: flex;
            align-items: center;
          }

          .__zhence-cut-line .img,
          .__shiwu-cut-line .img {
            display: inline-block;
            position: relative;
            margin-right: 4px;
            width: 16px;
            height: 16px;
          }

          .__zhence-cut-line .text,
          .__shiwu-cut-line .text {
            display: flex;
            align-items: center;
            font-size: 16px;
            color: #b3b5ba;
            margin: 0;
          }
        }

        .btn-group {
          margin-top: 10px;
          display: flex;
          justify-content: flex-end;
        }
      }
    }

    .footer {
      background: #fff;
      box-shadow: 0 -2px 4px 0 rgb(232 233 234 / 60%);
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.dpl-pagination-jump-next::after,
.dpl-pagination-jump-prev::after {
  display: none !important;
}
