.classify-manage {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  .filter-box {
    margin: 16px;
    background: #fff;
    padding: 20px 20px 0 0;
    position: relative;

    .btn-group {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }

  .table-box {
    background: #fff;
    padding: 16px 20px;

    .pagination-wrap {
      margin-top: 10px;

      .dpl-pagination-wrapper {
        float: none;
      }
    }

    .add-btn-group {
      margin-bottom: 12px;
    }

    .breadcrumb {
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 10px;

      .item {
        display: flex;
        align-items: center;
        margin-right: 4px;

        p {
          font-size: 14px;
          color: rgb(51 51 51 / 90%);
          line-height: 20px;
          margin-right: 4px;
          cursor: pointer;
        }

        img {
          width: 16px;
        }
      }
    }
  }
}
