.create-clue-box {
  .form-wrap {
    padding: 5px;

    .button-box {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 5px;

      .line-box {
        display: inline-block;
        margin: 0 5px;
        height: 20px;
      }
    }
  }
}
