.agent-edit-box {
  height: 100%;
  width: 100%;
  overflow: auto;

  .edit-box {
    min-height: calc(100% - 40px);
    min-width: 1000px;
    margin: 20px;
    background: #fff;

    .agent-edit-title {
      padding: 36px 40px 10px 28px;
      font-family: MicrosoftYaHei;
      font-size: 20px;
      color: #333;
    }

    .agent-message-box {
      padding: 20px 40px 13px 28px;
    }

    .message-item {
      font-family: MicrosoftYaHei;
      font-size: 14px;
      color: #333;
      line-height: 20px;
      padding-bottom: 16px;
    }

    .message-item-label {
      display: inline-block;
      width: 85px;
      text-align: right;
      vertical-align: top;
      margin-right: 10px;
    }

    .message-item-value {
      display: inline-block;
      width: calc(100% - 95px);
      vertical-align: top;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .message-required {
      color: #ff8961;
    }

    .acceptance-channel-box {
      font-family: MicrosoftYaHei;
      font-size: 14px;
      color: #151515;
      line-height: 20px;
    }

    .tab-box {
      padding: 16px 40px 32px;

      .dpl-tabs-bar {
        margin-bottom: 0 !important;
      }

      .dpl-tabs-content {
        border: 1px solid #d1d3d8;
        border-top: 0;
      }
    }

    .button-box {
      text-align: center;
      padding-bottom: 10px;
    }

    .search-button {
      display: inline-block;
    }

    .button-line-box {
      display: inline-block;
      width: 6px;
    }
  }
}
