.search-info {
  background-color: #fff;
  border-radius: 8px;

  // @servyou/search-set-panel的样式
  .ssp-operator-wrapper {
    margin-bottom: 8px;
  }

  .seek2-input-affix-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
}
