.warnning-ratio {
  font-size: 14px;
  color: #333;

  .condition {
    > span {
      margin-right: 16px;
    }
  }

  .switch {
    margin-right: 8px;
  }

  .condition-box {
    margin-top: 8px;
  }
}
