.common-manage-page-template {
  .app-search-box {
    .dpl-form-item-control {
      width: 300px;
    }
  }

  .better-table-row {
    .dpl-btn-text {
      padding: 0;
      margin-right: 8px;
    }
  }
}
