.my-question-reply-item {
  padding: 20px 0;
  border-bottom: 1px solid #e4e4e4;
  position: relative;

  &:last-child {
    border-bottom: none;
  }

  .reply {
    margin-top: 4px;

    .name {
      display: flex;
      align-items: center;

      .header-img {
        margin-right: 8px;
        width: 32px;
        height: 32px;
      }

      .text {
        font-size: 16px;
        color: #333;
      }

      .type {
        display: flex;
        align-items: center;
        margin-left: 10px;

        span {
          font-size: 12px;
          color: #666;
        }

        img {
          margin-left: 2px;
        }
      }
    }

    .reply-content {
      margin-top: 6px;
      overflow: hidden;
      font-size: 16px !important;
      color: #4c4c4c;
      line-height: 20px !important;

      &.part-display {
        height: 200px;
        overflow: hidden;

        //  cursor: pointer;
      }

      .applyPictureQuestion,
      .defualtConsultDetail,
      .expertConsultList {
        // color: #4c4c4c;
        cursor: default;
      }
    }

    .read-all {
      font-size: 16px;
      color: #ff8040;
      display: flex;
      justify-content: center;
      background-image:
        linear-gradient(
          -180deg,
          rgb(255 255 255 / 0%) 0%,
          #fff 70%
        );

      // padding-bottom: 34px;
      padding-top: 100px;
      position: absolute;
      width: 100%;
      bottom: 38px;

      span {
        cursor: pointer;
      }
    }

    .modify-time {
      font-size: 12px;
      color: #999;
      margin: 12px 0;
    }

    .tool-bar {
      display: flex;
      justify-content: space-between;
      margin-top: 18px;

      &.fixed {
        position: fixed;
        width: 780px;
        background: #fff;
        bottom: 0;
        height: 65px;
        box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
        animation: slideInUp 0.2s;
        padding: 0 20px;
      }

      .tool-bar-left {
        display: flex;
        align-items: center;
      }

      .tool-bar-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .item {
          font-size: 14px;
          color: #999;
          display: flex;
          align-items: center;
          cursor: pointer;
          height: 24px;
          padding: 0 10px;
          background: #f4f6f9;
          border-radius: 3px;

          .text {
          }

          .icon {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@keyframes slideInUp {
  0% {
    transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes slideInUp {
  0% {
    transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translateZ(0);
    transform: translateZ(0);
  }
}
