.sdk-test {
  .form-wrap {
    background: #fff;
    padding: 20px 20px 0;
    margin-bottom: 20px;

    .dpl-form-item-control {
      width: 300px;
    }

    .dpl-form-item {
      margin-bottom: 18px;
    }

    .dora-uform-button-group {
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}
