.consult-config-import {
  padding: 20px;

  .import-content {
    margin-top: 12px;

    .link-btn {
      color: #108ee9;
      background: transparent;
      text-decoration: none;
      outline: none;
      cursor: pointer;
      transition: color 0.3s ease;
    }
  }
}
