.landing-page-detail-box {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  overflow: auto;
  margin: 20px;
  padding: 16px;
  background-color: #fff;

  .button-box {
    background: #fff;
    padding: 0 0 10px;
    display: flex;
    justify-content: center;

    .button-item {
      display: inline-block;
    }

    .line-box {
      display: inline-block;
      width: 20px;
    }
  }

  .iframe-ground-box {
    padding: 5px;
    height: calc(100% - 50px);

    iframe {
      border: 1px solid #999;
      border-radius: 5px;
    }
  }
}
