.receiver-config {
  .btn-wrap {
    background-color: #fff;
    text-align: right;
    padding: 10px 20px 0 0;
  }

  .app-table-box {
    margin-top: 0;
  }

  .app-search-box {
    .dpl-form-item-control {
      width: 300px;
    }
  }
}
