.work-time-box {
  .work-time-title {
    text-align: right;
    vertical-align: middle;
    line-height: 32px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .work-time-title-require {
  }

  .work-time-body {
    display: flex;
    flex-direction: column;

    .work-time-item {
      width: 100%;
      display: flex;

      .work-time-item-timepicker {
        flex: 1;
      }

      .work-time-item-option {
        display: flex;

        .option-item {
          margin: 0 6px;
          line-height: 32px;
          font-size: 16px;
          width: 20px;

          .work-time-item-option-icon {
            cursor: pointer;
          }
        }

        .option-line-box {
          display: inline-block;
          width: 10px;
        }
      }

      .time-item {
        width: 110px;
      }

      .time-item-center {
        line-height: 32px;
        padding: 0 10px;
      }
    }
  }
}
