.modal-box {
  .icon-size {
    font-size: 30px;
    color: #ff9601;
    vertical-align: top;
    margin-left: 4px;
  }

  .title {
    font-family: MicrosoftYaHei;
    font-size: 16px;
    color: #333;
    line-height: 30px;
    padding-left: 16px;
  }
}

.depict-box {
  padding: 5px 0 0 51px;

  .depict {
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #666;
    line-height: 22px;
  }
}
