.my-question-tag {
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 3px 4px 3px 0;
  text-align: center;
  line-height: 20px;
  background-color: #ffebea;
  border-radius: 3px;
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #ff3b30;
  font-weight: 400;
  vertical-align: top;
}

.my-question-tag-open {
  background-color: #fffae6;
  color: #fc0;
}
