.brand-table-box {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 8px;

  .table-data-box {
    flex: 1;
  }

  .course-option-box {
    // flex: none;
  }

  .table-item {
    display: flex;
    font-size: 14px;
    color: #333;
  }

  .table-head {
    font-weight: bold;

    .table-head-title {
      padding: 6px 8px;
      flex: auto;
    }

    .table-head-title-center {
      text-align: center;
    }
  }

  .table-body {
    color: #888;
    line-height: 30px;

    .table-body-item {
      padding: 6px 8px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      flex: auto;
    }

    .table-body-item-center {
      text-align: center;
    }
  }
}
