.module-edit-box {
  .line-box {
    display: inline-block;
    width: 20px;
  }

  .button-box {
    background: #fff;
    display: flex;
    justify-content: center;

    .button-item {
      display: inline-block;
    }
  }
}
