.my-question-delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 24px;
  border: 1px solid #c4c6cc;
  border-radius: 3px;
  line-height: 22px;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #999;
  line-height: 20px;
  font-weight: 400;
  cursor: pointer;

  .text {
    margin-left: 5px;
  }
}
