.agent-monitor-box {
  width: 100%;
  height: 100%;
  background-color: #f4f6f9;
  padding: 16px 5px 10px;
  overflow: auto;

  .search-box {
    background: #fff;
    margin: 0 20px 16px;
    padding: 13px 40px 20px 10px;
    text-align: right;
    position: relative;

    .btn-group {
      display: inline-block;
    }

    .move-to-up {
      position: absolute;
      right: 40px;
      top: 12px;
    }
  }

  .statistics-box {
    margin: 16px 20px;
    display: flex;
    flex-direction: row;

    .statistics-item {
      display: inline-block;
      background-color: #fff;

      // height: 87px;
      .head {
        width: 100%;
        padding: 16px 16px 12px;
        line-height: 24px;

        .head-img {
          width: 24px;
          height: 24px;
          vertical-align: top;
          margin-right: 8px;
        }

        .head-text {
          font-family: MicrosoftYaHei;
          font-size: 18px;
          color: #333;
          font-weight: 800;
        }

        .head-num {
          font-family: MicrosoftYaHei-Bold;
          font-size: 18px;
          color: #2c85d9;
          line-height: 24px;
          cursor: pointer;
        }
      }

      .body {
        padding: 0 10px 16px 48px;

        .body-item {
          min-width: 80px;
          display: inline-block;
          padding-right: 10px;

          .body-item-label {
            font-family: MicrosoftYaHei;
            font-size: 14px;
            color: #666;
          }

          .body-item-text {
            font-family: MicrosoftYaHei;
            font-size: 14px;
            color: #599fe1;
            line-height: 19px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .table-box {
    margin: 0 20px 16px;
  }

  .login-state-box {
    width: 20%;
    margin-right: 16px;
  }

  .not-call-box {
    width: calc(60% - 32px);
    margin-right: 16px;
  }

  .calling-box {
    width: 20%;
  }

  .dpl-btn-primary {
    background-color: #39f;
    border-color: #39f;
  }
}

.dpl-select-tree {
  max-height: 300px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px; /* 高宽分别对应横竖滚动条的尺寸 */
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    /* 滚动条里面小方块 */
    border-radius: 10px;

    //   -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #b1b1b1;
  }

  &::-webkit-scrollbar-track {
    /* 滚动条里面轨道 */
    //   -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #ededed;
  }
}
