.g-photo-swipe {
  .img-list {
    li {
      width: 180px;
      height: 120px;
      border: 1px dashed #cccccc;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin: 5px 20px 5px 0;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
