.window-page {

}

.window-page-modal {
  .dpl-modal-body {
    max-height: 70vh;
    overflow: auto;
  }

  .advert-url-wrap {
    display: flex;
    align-items: center;

    .dpl-input {
      flex: 1;
    }

    .tips {
      color: #999;
      font-size: 12px;
      margin-left: 10px;
    }
  }

  .image-tips {
    position: relative;

    p {
      position: absolute;
      top: -82px;
      left: 282px;
      color: #999;
      font-size: 12px;
    }
  }

  .jump {
    display: flex;
    align-items: center;
    margin-top: 10px;

    .dpl-input {
      flex: 1;
    }
  }
}

.advert-upload-image-wrap {
  position: relative;

  .tips {
    position: absolute;
    top: 34px;
    left: 128px;
    font-size: 12px;
    color: #999;
  }
}
