.work-time-edit-box {
  .button-box {
    background: #fff;
    display: flex;
    justify-content: center;

    .button-item {
      display: inline-block;
    }

    .line-box {
      display: inline-block;
      width: 20px;
    }
  }
}
