.warnning-config {
  .table-option-box {
    .option-button {
      padding: 0 5px;
      font-family: MicrosoftYaHei;
      font-size: 14px;
      line-height: 20px;
      color: #2c85d9;
      cursor: pointer;
    }
  }

  .dpl-form-item-control {
    width: 240px;
  }

  .area-controller {
    .dpl-form-item-control {
      width: 260px;
    }
  }

  .button-box {
    .dpl-btn {
      margin-right: 8px;
    }
  }
}
