.add-strategy {
  padding: 20px;
  background: #fff;
  height: 100%;
  overflow: auto;

  .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
