.question-dimension {
  .dimension-list-wrap {
    margin-bottom: 8px;

    .dimension-list {
      display: flex;
      flex-wrap: wrap;

      .item {
        margin-right: 8px;
        font-size: 12px;
        color: #666;
      }
    }
  }
}
