.unmatchab-nomal-list {
  .app-search-box {
    .dpl-form-item-control {
      width: 300px;
    }
  }

  .refresh-view {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #333;
    line-height: 30px;

    .refresh-frequency {
      .input {
        margin-right: 12px;
      }
    }
  }
}
